<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WF.Properties.Settings>
            <setting name="IsFirst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OWID" serializeAs="String">
                <value>3a9fe918133c3900d48f72d08e2c3c6b</value>
            </setting>
            <setting name="OWCity" serializeAs="String">
                <value>702550</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>uk</value>
            </setting>
            <setting name="IsAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyIP" serializeAs="String">
                <value>192.168.1.4</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value>boss</value>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value>393735ws</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="IsAuthorized" serializeAs="String">
                <value>True</value>
            </setting>
        </WF.Properties.Settings>
    </userSettings>
</configuration>